* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    background-image: url("images/dough.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.flex-container {
    left: 0px;
    top: 0px;
    display: flex;
    background-color: rgba(245, 240, 240, 0.85);
    justify-content: center;
}

.item_1{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.item_2 {
    width: 4px;
    height: 100px;
    margin: 10px;
}

.item_3 {
    width: 635px;
    height: 100px;
    margin: 10px;
}

.title {
    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-size: 55px;
    align-items: center;
    color: #671414;
    -webkit-text-fill-color: #671414;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #280D0D;
} 

.slogan {
    font-family: 'IM Fell DW Pica';
    font-style: normal;
    font-size: 27px;
    align-items: center;
    color: #B12323;
}

.pizza_tracker_box {
    display: flex;
    background: #F5F0F0;
    justify-content: center;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    opacity: 0.8;
    border-radius: 50px;
}

.pizza_tracker {
    font-family: 'IM FELL Double Pica';
    text-align: center;
    font-size: 35px;
    color: black;
}

.flex-container_2 {
    display: flex;
    background: #F5F0F0;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    opacity: 0.8;
    border-radius: 25px;
}
.text_up {
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
}

.text_down {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.check_mark {
    display: flex;
    justify-content: center;
    flex:1;
    width: 70px;
    height: 70px;
    margin: 10px;
    /* background-color: #B12323; */
    
}

.separation_line {
    margin-top: 3px
}

.order_box{
    flex:2;
    width: 400px;
    height: 70px;
    margin: 10px;
    /* background-color: #B12323; */
}
.pizza_box{
    flex:4;
    width: 400px;
    height: 70px;
    margin: 10px;
    /* background-color: #B12323; */
}
.status_box {
    flex: 4;
    width: 400px;
    height: 70px;
    margin: 10px;
    /* background-color: #B12323; */
}