*{
    margin: 0;
    padding: 0;

}

.wireframe-1{
    align-items:flex-start;
    border:1px none;
    display:flex;
    height: 250px;
    width: 500px;
}

.container1{
    align-items: flex-end;
    background-image: url(images/background.png);
    background-position: 50% 50%;
    background-size:cover;
    display:flex;
    flex-direction: column;
    gap: 128px;
    min-height: 250px;
    padding: 128px 24px;
    width: 1440px;

}

.flex-row {
    align-items: center;
    display: flex;
    margin-top: 145px;
    min-width: 1225px;
}

.line{
    height: 295px;
    margin-left: 22px;
    margin-top: 0.07px;
    width: 21px;
}

.flex-col{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-left: 39px;
    margin-top: 12.91px;
    min-height: 280px;
    width: 772px;

}

.text-in-the-middle{
    color:#300303;
    font-family:var(--font-family-im_fell_dw_pica-regular);
    font-size: 30px;
    font-weight: 400;
    height: 61px;
    letter-spacing: 0;
    width: 772px;
}


.container2{
    align-self: center;
    border-radius:20px;
    height: 128px;
    margin-left: 120px;
    position: relative;
    width: 350px;
}

.title{
    color:black;
    font-family:var(--font-family-im_fell_dw_pica-regular);
    font-size: 30px;
    font-weight: 400px;
    height: 50px;
    left: 201px;
    letter-spacing: 0;
    position: absolute;
    top: 38px;
}

.rectangle{
    display: flex;
    justify-content: center;
    background-color: #e0bb95;
    border: 1px none;
    border-radius: 45px;
    cursor: pointer;
    height: 128px;

    width: 500px;
}
